{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <style>
    .password{
	width: 100%;
	position: relative;
}

.password input{
	padding-right: 50px!important;
}

.pass-eye{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	outline: none;
	border: none;
	color: black;
	background-color: transparent;
}
    </style>

    <div class="col-sm-5 mx-auto mt-5">
        <div class="card">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="text-center">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card-header">
                <h4 class="card-title font-20 mt-0">Password Change</h4>
            </div>
            <div class="card-body">
                <form style="width: 100%;" method="post">{% csrf_token %}
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label">Present Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="old_password" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label">New Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="new_password1" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label">Re-Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" name="new_password2" type="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-block btn-info">Password Changed</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
