{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="mt-5">
        <div class="auth" style="min-height: auto;">
            <h1>Change your password</h1>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="text-center">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form style="width: 100%;" method="post">{% csrf_token %}
                <div class="password mb-4">
                    <input placeholder="Old Password" type="password" class="input password-input" name="old_password"/>
                    <button type="button" class="pass-eye" id="toggle-password">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="password mb-4">
                    <input placeholder="New Password" type="password" class="input password-input"
                           name="new_password1"/>
                    <button type="button" class="pass-eye" id="toggle-password">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="password mb-4">
                    <input placeholder="Again New Password" type="password" class="input password-input"
                           name="new_password2"/>
                    <button type="button" class="pass-eye" id="toggle-password">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <button class="action">Reset password</button>
            </form>
        </div>
    </div>
{% endblock %}
