{% extends 'base_front.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <form method="post" action="{% url 'accounts:password_reset' uidb64=uidb64 token=token %}">{% csrf_token %}
        <div class="password mb-4">
            <input placeholder="New Password" type="password" class="input password-input" name="new_password"
                   required/>
            <button type="button" class="pass-eye" id="toggle-password">
                <i class="bi bi-eye"></i>
            </button>
        </div>
        <div class="password mb-4">
            <input placeholder="Confirm New Password" type="password" class="input password-input" name="confirm_password" required/>
            <button type="button" class="pass-eye" id="toggle-password">
                <i class="bi bi-eye"></i>
            </button>
        </div>
        <button type="submit" class="action">Reset Password</button>
    </form>
{% endblock %}

