{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    {% if form.non_field_errors %}
        <div class="messages">
            <p class="text-center">{{ form.non_field_errors }}</p>
        </div>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <div class="">
                <div class="d-flex flex-row">
                    <h3 class="mt-0 h3">{{ title }} এর ইন্সিডেন্ট তালিকা</h3>
                </div>
                <div class="d-flex flex-row-reverse">
                    <a href="{% url 'terminal:incident_create' %}" class="btn btn-success">নতুন ইন্সিডেন্ট যুক্ত করুন <i class="mdi mdi-database-plus"></i></a>
                </div>
            </div>
            <hr/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>শিরনাম</th>
                    <th>রাষ্ট্র/দেশ</th>
                    <th>স্থান</th>
                    <th>ঘটনার ধরণ</th>
                    <th>জড়িত ব্যক্তি/গোষ্ঠী/সংগঠন</th>
                    <th>ঘটনার তারিখ এবং সুময়</th>
                    <th>পোস্ট করা তারিখ এবং সুময়</th>
                    <td>এক্সশান</td>
                </tr>
                </thead>
                <tbody>
                {% for context in incident_context %}
                    <tr>
                        <th scope="row">{{ forloop.counter|add:page_obj.start_index|add:-1 }}</th>
                        <td>{{ context.title }}</td>
                        <td>{{ context.country.name }}</td>
                        <td>
                            {% if context.country == "BD" %}
                                {% if context.division %}বিভাগ: {{ context.division.name_bn }}{% endif %},
                                {% if context.district %}জেলা: {{ context.district.name_bn }}{% endif %},
                                {% if context.subdistrict %}<br/> উপজেলার: {{ context.subdistrict.name_bn }}{% endif %}
                            {% else %}
                                {% if context.state %}স্টেট/রাজ্য: {{ context.state.name_bn }}{% endif %}
                            {% endif %}
                        </td>
                        <td>{{ context.incident_type }}</td>
                        <td>{{ context.involved_actor }}</td>
                        <td>{{ context.date }}</td>
                        <td>{{ context.created_at }}</td>
                        <td>
                            <a href="#" class="btn"><i class="mdi mdi-table-edit"></i></a>
                            <a href="#" class="btn"><i class="mdi mdi-delete-forever"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% include 'pagination.html' %}
        </div>
    </div>
{% endblock %}
