{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title %}Incident Matrix{% endblock %}</title>
    <meta content="Incident Matrix" name="description"/>
    <meta content="Mannatthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- css -->
    {% include 'base/css.html' %}

</head>


<body>

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<!-- Navigation Bar-->
{% include 'base/header.html' %}
<!-- End Navigation Bar-->


<div class="wrapper">
    <div class="container-fluid">
        <div class="page-title-box">
            {% if messages %}
                <div aria-live="polite" aria-atomic="true">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags|default:'info' }} alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div> <!-- end container -->
</div>
<!-- end wrapper -->


<!-- Footer -->
{% include 'base/footer.html' %}
<!-- End Footer -->

<!-- js  -->
{% include 'base/js.html' %}

</body>
</html>