{% load static %}

<!-- jvectormap -->
<link href="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet">
<link href="{% static 'assets/plugins/fullcalendar/vanillaCalendar.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'assets/plugins/morris/morris.css' %}" rel="stylesheet">

<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/incidents.css' %}" rel="stylesheet" type="text/css">

<!-- Magnific popup -->
<link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

<!-- flatpickr -->
<link rel="stylesheet" href="{% static 'assets/css/flatpickr.min.css' %}">

<!-- select2 -->
<link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet"/>

<!-- upper css -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
